<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.serviceModel>
		<services>
			<service name="ExpenseTracker_WCF.ExpenseService" behaviorConfiguration="metadataSupport">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/" />
					</baseAddresses>
				</host>
				<endpoint address="" binding="basicHttpBinding" contract="ExpenseTracker_WCF.IExpenseService" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadataSupport">
					<serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8733/Design_Time_Addresses/" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
